.bottom_menu {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    align-self: center;
    position: fixed;
    bottom: 1rem;
    padding: .8rem 1rem;
    /* border-radius: 2rem; */
    z-index: 10;
    background-color: transparent;
    border-bottom: 1px solid black;
    gap: 1rem;
}

.bottom_menu_items {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 0 1rem;
}

.bottom_menu_items :nth-child(2) {
    rotate: 45deg;
}

.update_subscriber_count {
    display: none;
}

.bottom_menu_items img {


    transform: scale(1);
    transition: transform .5s;
}

.bottom_menu_items img:hover {
    transform: scale(2);
    /* 1 second transition duration */
}

@media only screen and (max-width: 640px) {

    .bottom_menu {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-self: center;
        position: fixed;
        bottom: 0rem;
        padding: 0;
        /* border-radius: 2rem; */
        z-index: 10;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .bottom_menu_items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        padding-bottom: 1rem;
    }

    .update_subscriber_count {
        display: flex;
    }
}