.channel_info {
    font-size: x-large;
}

/* .channel_info {
    padding: 1rem 1rem;
} */

/* .col1_detail {
    align-self: center;
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 1rem;
} */