.load_more_button {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    border: transparent;
    border-radius: .5rem;
    background: #cc2b5e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.load_more_button:focus {
    outline: transparent;
    background-color: grey;
}