.hero_section_image_slider {
    align-self: center;
    width: 100vw !important;
    height: 60vh !important;
    padding: 2rem;
    position: relative;
}

.hero_section_image_slider img {
    align-self: center;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.hero_section_image_slider .owl-prev,
.hero_section_image_slider .owl-next {
    z-index: 20;
    position: absolute;
    top: -10rem;
    height: 50px;
    width: 50px;
    background-color: #FFF;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero_section_image_slider .owl-dots {
    align-self: center;
    position: absolute;
    width: 100%;
    display: inline-block;
    z-index: 1;
    font-size: 20rem;
}




@media only screen and (max-width: 640px) {
    .hero_section_image_slider {
        width: 100% !important;
        height: 50vh !important;
        position: absolute;
        top: 0;
        left: 0;
        padding: .6rem;
    }

    .hero_section_image_slider img {
        width: 100%;
        height: 100% !important;
        object-fit: contain;
    }


}