.three_column_container {
    width: 100vw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}

.tool_card:hover img {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    transition: transform 1s;
}

.tools .col1,
.tools .col3 {
    min-width: 300px;
}

.info_card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    place-content: center;
    height: fit-content;
    width: 100%;
    gap: 1rem;
}

.tools_card_wrapper,
.more_tools_card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    place-content: center;
    height: fit-content;
    width: 100%;
    gap: 1rem
}

@media only screen and (max-width: 1090px) {
    .three_column_container .col1 {
        display: none;
    }

    .three_column_container {
        width: 100%;
        height: 100dvh;
        display: grid;
        grid-template-columns: 1fr 300px;
    }
}


@media only screen and (max-width: 700px) {
    .three_column_container .col1 {
        display: none;
    }


    .info_card_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        place-content: center;
        height: fit-content;
        width: 100%;
        gap: 1rem;
    }


    .tools_card_wrapper,
    .more_tools_card_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        place-content: center;
        height: fit-content;
        width: 100%;
        gap: 1rem
    }

}

@media only screen and (max-width: 600px) {
    .three_column_container .col1 {
        display: none;
    }

    .three_column_container {
        width: 100vw;
        height: 100dvh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .info_card_wrapper {
        display: grid;
        grid-template-columns: 21rem;
        place-content: center;
        place-items: center;
        height: fit-content;
        width: 100%;
        gap: 1rem;
    }


    .tools_card_wrapper,
    .more_tools_card_wrapper {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        place-content: center;
        height: fit-content;
        width: 100%;
        gap: .5rem;
        font-size: small;
    }

    .info_card_wrapper img,
    .tools_card_wrapper img,
    .more_tools_card_wrapper img {
        width: 50px;
        height: 50px;
    }

}